 <main>

     <div class="container">
         <div class="row">
             <div class="page-name">
                 <h6>
                     تنظیمات
                 </h6>
             </div>
             <div class="col-lg-12 pb-5">
                 <div class="table-responsive">
                     <div class="table-head mb-4">
                         <h6>تغییر رمز عبور</h6>
                     </div>
                     <div class="change_alerts"></div>
                     <form action="/changepass/" method="POST" id="change_password">
                         <div class="form-inps">
                             <div class=" active_he"> <i class="fas fa-lock"></i> پسورد قبلی</div>
                             <input type="password" class="form-control activate_in mb-3" name="old_password"
                                 id="old_pass">
                         </div>
                         <div class="form-inps">
                             <div class=" active_he"> <i class="fas fa-lock"></i> پسورد جدید</div>
                             <input type="password" class="form-control activate_in mb-3" name="new_password"
                                 id="new_pass">
                         </div>
                         <button type="submit" class="active_admin">تغییر</button>
                     </form>
                 </div>
             </div>

         </div>
     </div>

 </main>

 <script>
     const changepass_form = document.getElementById("change_password");
     changepass_form.addEventListener("submit", (e) => {
         e.preventDefault();
         const opass = document.getElementById("old_pass");
         const npass = document.getElementById("new_pass");
         const passalerts = document.querySelector(".change_alerts");
         const data = {
             oldpass: opass.value,
             newpass: npass.value,
         };
         fetch("http://localhost:8080/changepass/", {
                 method: "POST",
                 headers: {
                     "Content-Type": "application/json",
                 },
                 body: JSON.stringify(data),
             })
             .then((response) => {
                 return response.json();
             })
             .then((e) => {
                 if (e.length < 1) {
                     passalerts.innerHTML +=
                         `<div class="alert alert-success alert-dismissible show" role="alert">پسورد تغییر یافت<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>`;
                 } else {
                     for (var i = 0; i < e.length; i++) {
                         passalerts.innerHTML += `<span class="errs-show">${e[i].msg}</span>`;
                     }
                 }
             });
         passalerts.innerHTML = "";
         changepass_form.reset();
     });
 </script>