 <main>

     <div class="container">
         <div class="row">
             <div class="col-12 mb-4">
                 <div class="tag-starts-informaion">
                     <div class="box-heads">
                         <i class="fas fa-info"></i>
                         <span>اطلاعات برگزاری تگ</span>
                     </div>
                     <div class="box-body">
                         <div class="box-row">
                             <i class="fas fa-tag"></i>
                             <span>تگ مرجع : </span>
                             <span>mmdbqri</span>
                         </div>
                         <div class="box-row">
                             <i class="fas fa-clock"></i>
                             <span>زمان شروع : </span>
                             <span>22:30:00</span>
                         </div>
                         <div class="box-row">
                             <i class="fas fa-clock"></i>
                             <span> زمان پایان : </span>
                             <span>24:30:00</span>
                         </div>

                     </div>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-lg-3 col-md-6">
                 <div class="main-boxs d-flex">
                     <div class="box-right">
                         <span>کاربر جدید</span><br>
                         <span>13</span>
                     </div>
                     <div class="box-left">
                         <i class="fas fa-plus-circle"></i>
                         <a href="#" class="d-block">مشاهده</a>
                     </div>
                 </div>

             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="main-boxs d-flex">
                     <div class="box-right">
                         <span>کل کاربران</span><br>
                         <span>523</span>
                     </div>
                     <div class="box-left">
                         <i class="fas fa-users"></i>
                         <a href="#" class="d-block">مشاهده</a>
                     </div>
                 </div>

             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="main-boxs d-flex">
                     <div class="box-right">
                         <span>اخطارهای قطعی </span><br>
                         <span>2</span>
                     </div>
                     <div class="box-left ">
                         <i class="fas fa-exclamation-circle"></i>
                         <a href="#" class="d-block">مشاهده</a>
                     </div>
                 </div>

             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="main-boxs d-flex">
                     <div class="box-right">
                         <span>کاربران محروم شده</span><br>
                         <span>14</span>
                     </div>
                     <div class="box-left">
                         <i class="fas fa-times"></i>
                         <a href="#" class="d-block">مشاهده</a>

                     </div>

                 </div>

             </div>

         </div>
     </div>

 </main>