<main>
    <div class="container">
        <div class="row">
            <div class="page-name">
                <h6>
                    مدیریت کاربران
                </h6>
            </div>
            <div class="col-lg-12 pb-5">
                <div class="table-responsive">
                    <div class="table-head mb-4">
                        <h6>کاربر جدید</h6>
                    </div>
                    <div class="form-inps">
                        <div class=" active_he"> <i class="fas fa-home"></i>پیج اصلی</div>
                        <input type="text" class="form-control activate_in mb-3">
                    </div>
                    <div class="form-inps">
                        <div class=" active_he"> <i class="fas fa-heart"></i> پیج لایک کننده</div>
                        <input type="text" class="form-control activate_in mb-3">
                    </div>
                    <div class="form-inps">

                        <div class=" active_he"> <i class="fas fa-phone"></i> شماره موبایل</div>
                        <input type="text" class="form-control activate_in mb-3">
                    </div>
                    <div class="form-inps">
                        <div class=" active_he"> <i class="fas fa-users"></i> گروه</div>
                        <input type="text" class="form-control activate_in mb-3">
                    </div>
                    <div class="form-inps">
                        <div class=" active_he"> <i class="fas fa-calendar"></i> تاریخ عضویت</div>
                        <input type="text " name="date" class="form-control datepicker"
                        placeholder="Select Date">
                    </div>
                    <button type="submit" class="active_admin">ثبت</button>
                </div>
            </div>

        </div>
    </div>

</main>