 <main>

     <div class="container">
         <div class="row">
             <div class="page-name">
                 <h6>
                     گزارشات
                 </h6>
             </div>
             <div class="col-lg-12 pb-5">
                 <div class="table-responsive">
                     <div class="table-head mb-4">
                         <h6> پست های حذف شده </h6>
                     </div>
                     <table class="table zero-configuration table-striped">
                         <thead>
                             <tr>
                                 <th>#</th>
                                 <th>پیج اصلی</th>
                                 <th>علت حذف</th>

                             </tr>
                         </thead>
                         <tbody>

                             <tr>
                                 <td>1</td>
                                 <td>mmdbqri</td>
                                 <td><span class="deleted_reason">نیست</span></td>

                             </tr>
                             <tr>
                                 <td>2</td>
                                 <td>instagram</td>
                                 <td><span class="deleted_reason">خارج</span></td>
                             </tr>
                             <tr>
                                 <td>3</td>
                                 <td>youtube</td>
                                 <td><span class="deleted_reason">محرومیت</span></td>
                             </tr>
                             <tr>
                                 <td>4</td>
                                 <td>elun_musk</td>
                                 <td><span class="deleted_reason">محروم شده</span></td>
                             </tr>
                             <tr>
                                 <td>5</td>
                                 <td>reza_1235</td>
                                 <td><span class="deleted_reason">وجود ندارد</span></td>
                             </tr>
                             <tr>
                                 <td>6</td>
                                 <td>user_135</td>
                                 <td><span class="deleted_reason">منقظی شده</span></td>
                             </tr>
                             <tr>
                                 <td>7</td>
                                 <td>mohammadreza_nosrat</td>
                                 <td><span class="deleted_reason">ثبت نشده</span></td>
                             </tr>

                         </tbody>
                         <tfoot>
                             <tr>
                                 <th>#</th>
                                 <th>پیج اصلی</th>
                                 <th>زمان انتشار پست</th>
                             </tr>
                         </tfoot>
                     </table>
                 </div>
             </div>

         </div>
     </div>

 </main>