 <main>

     <div class="container">
         <div class="row">
             <div class="page-name">
                 <h6>
                     مدیریت پیج مرجع
                 </h6>
             </div>
             <div class="col-lg-12 pb-5">
                 <div class="table-responsive">
                     <div class="table-head mb-4">
                         <h6>ثبت پیج مرجع جدید</h6>
                     </div>

                     <div class="mb-2 active_he">نام کاربری</div>
                     <input type="text" class="form-control activate_in mb-2">
                     <div class="mb-2 active_he">پسورد</div>
                     <input type="text" class="form-control activate_in mb-2">
                     <button type="submit" class="active_admin">ثبت</button>
                 </div>
             </div>

         </div>
     </div>

 </main>