 <main>

     <div class="container">
         <div class="row">
             <div class="page-name">
                 <h6>
                     گزارشات
                 </h6>
             </div>
             <div class="col-lg-12 pb-5">
                 <div class="table-responsive">
                     <div class="table-head mb-4">
                         <h6>گزارش مدیران پست های امروز</h6>
                     </div>
                     <table class="table zero-configuration table-striped">
                         <thead>
                             <tr>
                                 <th>#</th>
                                 <th>نام مدیر</th>
                                 <th>پست ها</th>
                                 <th>اخطاری ها</th>
                             </tr>
                         </thead>
                         <tbody>

                             <tr>
                                 <td>1</td>
                                 <td>mmdbqri</td>
                                 <td><span class="admins_posts">14</span></td>
                                 <td><span class="admins_warnings">1</span></td>
                             </tr>
                             <tr>
                                 <td>2</td>
                                 <td>aziz</td>
                                 <td><span class="admins_posts">9</span></td>
                                 <td><span class="admins_warnings">0</span></td>
                             </tr>
                             <tr>
                                 <td>3</td>
                                 <td>zahra</td>
                                 <td><span class="admins_posts">5</span></td>
                                 <td><span class="admins_warnings">6</span></td>
                             </tr>
                             <tr>
                                 <td>4</td>
                                 <td>mostafa</td>
                                 <td><span class="admins_posts">5</span></td>
                                 <td><span class="admins_warnings">1</span></td>
                             </tr>
                             <tr>
                                 <td>5</td>
                                 <td>qolam</td>
                                 <td><span class="admins_posts">3</span></td>
                                 <td><span class="admins_warnings">8</span></td>
                             </tr>
                             <tr>
                                 <td>6</td>
                                 <td>maryam</td>
                                 <td><span class="admins_posts">7</span></td>
                                 <td><span class="admins_warnings">4</span></td>
                             </tr>
                             <tr>
                                 <td>7</td>
                                 <td>fateme</td>
                                 <td><span class="admins_posts">8</span></td>
                                 <td><span class="admins_warnings">1</span></td>
                             </tr>

                         </tbody>
                         <tfoot>
                             <tr>
                                 <th>#</th>
                                 <th>پیج اصلی</th>
                                 <th>نام مدیر</th>
                                 <th>نمایش</th>
                             </tr>
                         </tfoot>
                     </table>
                 </div>
             </div>

         </div>
     </div>

 </main>