 <main>

     <div class="container">
         <div class="row">
             <div class="page-name">
                 <h6> مدیران
                 </h6>
             </div>
             <div class="col-lg-12 pb-5">
                 <div class="table-responsive">
                     <div class="table-head mb-3 border-bottom pb-2">

                         <h6> <i class="fas fa-redo"></i> بررسی در حال اجرا </h6>
                     </div>
                     <div class="scnd-head mb-3">
                         <a href="#" class="edit-btn">ویرایش<i class="fas fa-pencil-alt"></i></a>

                     </div>
                     <table class="table table-striped">

                         <tbody>
                             <tr>
                                 <td>تگ مرجع</td>
                                 <td>mmdbqri</td>
                             </tr>
                             <tr>
                                 <td>بررسی زمان پست ها</td>
                                 <td>بله</td>
                             </tr>
                             <tr>
                                 <td>مدیران مجاز</td>
                                 <td><span>ممد</span> <span>گروه سبز</span> <span>گروه یلدا</span></td>
                             </tr>
                             <tr>
                                 <td>شروع تگ</td>
                                 <td>1400/03/12 22:00</td>
                             </tr>
                             <tr>
                                 <td>پایان تگ</td>
                                 <td>1401/00/66 22:00</td>
                             </tr>
                             <tr>
                                 <td>شروع بررسی</td>
                                 <td>1400/03/12 23:00</td>
                             </tr>
                             <tr>
                                 <td>باز شدن تگ</td>
                                 <td><i class="fas fa-check"></i></td>
                             </tr>
                             <tr>
                                 <td>بسته شدن تگ</td>
                                 <td><i class="fas fa-check"></i></td>
                             </tr>
                             <tr>
                                 <td>بررسی لایک</td>
                                 <td><i class="fas fa-times"></i></td>
                             </tr>
                         </tbody>
                     </table>
                 </div>

             </div>

         </div>
     </div>

 </main>