 <main>

     <div class="container">
         <div class="row">
             <div class="page-name">
                 <h6>
                     مدیریت کاربران
                 </h6>
             </div>
             <div class="col-lg-12 pb-5">
                 <div class="table-responsive">
                     <div class="table-head mb-4">
                         <h6>جستجوی لایک کننده</h6>
                     </div>
                     <table class="table zero-configuration table-striped">
                         <thead>
                             <tr>
                                 <th>#</th>
                                 <th>پیج اصلی</th>
                                 <th>نام مدیر</th>
                             </tr>
                         </thead>
                         <tbody>

                             <tr>
                                 <td>1</td>
                                 <td>mmdbqri</td>
                                 <td>محمد باقری</td>

                             </tr>
                             <tr>
                                 <td>2</td>
                                 <td>instagram</td>
                                 <td>مارک</td>

                             </tr>
                             <tr>
                                 <td>3</td>
                                 <td>youtube</td>
                                 <td>اسکواچ</td>

                             </tr>
                             <tr>
                                 <td>4</td>
                                 <td>elun_musk</td>
                                 <td>ایلان ماسک</td>

                             </tr>
                             <tr>
                                 <td>5</td>
                                 <td>reza_1235</td>
                                 <td>محمد باقری</td>

                             </tr>
                             <tr>
                                 <td>6</td>
                                 <td>user_135</td>
                                 <td>مارک</td>

                             </tr>
                             <tr>
                                 <td>7</td>
                                 <td>mohammadreza_nosrat</td>
                                 <td>داریوش</td>

                             </tr>

                         </tbody>
                         <tfoot>
                             <tr>
                                 <th>#</th>
                                 <th>پیج اصلی</th>
                                 <th>نام مدیر</th>

                             </tr>
                         </tfoot>
                     </table>
                 </div>
             </div>

         </div>
     </div>

 </main>