 <main>

     <div class="container">
         <div class="row">
             <div class="page-name">
                 <h6>مدیریت کاربران
                 </h6>
             </div>
             <div class="col-lg-12 pb-5">
                 <div class="table-responsive">
                     <div class="table-head mb-3 border-bottom pb-2">

                         <h6> <i class="fas fa-user-alt"></i> نمایش اطلاعات کاربر </h6>
                     </div>
                     <div class="scnd-head mb-3">
                         <a href="#" class="edit-btn">ویرایش<i class="fas fa-pencil-alt"></i></a>
                         <a href="#" class="delete-btn">حذف <i class="fas fa-minus-square"></i></a>
                     </div>
                     <table class="table table-striped">

                         <tbody>
                             <tr>
                                 <td>پیج اصلی</td>
                                 <td>mmdbqri</td>
                             </tr>
                             <tr>
                                 <td>پیج لایک کننده اول</td>
                                 <td>mmdbqri</td>
                             </tr>
                             <tr>
                                 <td>شماره موبایل</td>
                                 <td>09130583215</td>
                             </tr>
                             <tr>
                                 <td>نام گروه</td>
                                 <td>یک ماهه روزای زوج</td>
                             </tr>
                             <tr>
                                 <td>تاریخ انقضا</td>
                                 <td>1400/03/12</td>
                             </tr>
                             <tr>
                                 <td>وضعیت اعتبار</td>
                                 <td>اعتبار دارد</td>
                             </tr>
                             <tr>
                                 <td>تعداد محرومیت</td>
                                 <td>6</td>
                             </tr>
                         </tbody>
                     </table>
                 </div>

             </div>

         </div>
     </div>

 </main>