 <main>

     <div class="container">
         <div class="row">
             <div class="col-lg-3 col-md-6">
                 <div class="main-boxs d-flex">
                     <div class="box-right">
                         <span>کاربر جدید</span><br>
                         <span>13</span>
                     </div>
                     <div class="box-left">
                         <i class="fas fa-plus-circle"></i>
                         <a href="#" class="d-block">مشاهده</a>
                     </div>
                 </div>

             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="main-boxs d-flex">
                     <div class="box-right">
                         <span>کل کاربران</span><br>
                         <span>523</span>
                     </div>
                     <div class="box-left">
                         <i class="fas fa-users"></i>
                         <a href="#" class="d-block">مشاهده</a>
                     </div>
                 </div>

             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="main-boxs d-flex">
                     <div class="box-right">
                         <span>اخطارهای قطعی </span><br>
                         <span>2</span>
                     </div>
                     <div class="box-left ">
                         <i class="fas fa-exclamation-circle"></i>
                         <a href="#" class="d-block">مشاهده</a>
                     </div>
                 </div>

             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="main-boxs d-flex">
                     <div class="box-right">
                         <span>کاربران محروم شده</span><br>
                         <span>14</span>
                     </div>
                     <div class="box-left">
                         <i class="fas fa-times"></i>
                         <a href="#" class="d-block">مشاهده</a>

                     </div>

                 </div>

             </div>

         </div>
     </div>

 </main>