 
    <main>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="main-boxs d-flex">
                        <div class="box-right">
                            <span>کاربر جدید</span><br>
                            <span>15</span>
                        </div>
                        <div class="box-left">
                            <i class="fas fa-plus-circle"></i>
                            <a href="#" class="d-block">مشاهده</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="main-boxs d-flex">
                        <div class="box-right">
                            <span>کاربر جدید</span><br>
                            <span>15</span>
                        </div>
                        <div class="box-left">
                            <i class="fas fa-plus-circle"></i>
                            <a href="#" class="d-block">مشاهده</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="main-boxs d-flex">
                        <div class="box-right">
                            <span>کاربر جدید</span><br>
                            <span>15</span>
                        </div>
                        <div class="box-left ">
                            <i class="fas fa-plus-circle"></i>
                            <a href="#" class="d-block">مشاهده</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="main-boxs d-flex">
                        <div class="box-right">
                            <span>کاربر جدید</span><br>
                            <span>15</span>
                        </div>
                        <div class="box-left">
                            <i class="fas fa-plus-circle"></i>
                            <a href="#" class="d-block">مشاهده</a>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </main>
 